@import url(../fonts/poppins.css);

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5efe7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del login */
.login-container {
    background-color: #e9e0cb;
    padding: 2rem;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px;
}

/* Título del form */
.login-container h1 {
    margin-bottom: 1.5rem;
    color: #134c2a;
    font-size: 2rem;
}

/* Formulario de login */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Grupos del form */
.form-group {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #134c2a;
    font-weight: bold;
}

.form-group input {
    width: 95%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botón de ingreso */
.login-button {
    width: 50%;
    padding: 0.75rem;
    background-color: #4e6f51;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #134c2a;
}

/* Responsive */
@media (max-width: 480px) {
    .login-container {
        padding: 1rem;
    }

    .login-container h1 {
        font-size: 1.5rem;
    }

    .form-group input {
        width: 90%;
    }

    .login-button {
        width: 70%;
    }
}
